/* font css */



.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font css ended */

.header{
background: linear-gradient(90deg, #ffffff 0%, #eef2ff 40%, #c7d2fe 100%);
padding: 20px 40px 20px 10%;
}
.header-name-section{
    font-size: 45px;
    font-weight: bolder;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.common-ul {
    display: flex;
    gap :55px;
    align-items: center;
    list-style: none;
}





.common-btn{
    font-weight: bold;
    background-color: indigo;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    color:white;
    list-style: none;
    border:none;
   
}
.contact-btn {
    background-color: white;
    color: indigo;
    border-color: indigo;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
}
.contact-btn:hover{
    background-color: indigo;
    color:white;
}
.common-btn:hover{
    background-color: rgb(131, 22, 209);
}

.nav-ul-a {
    border-bottom:none;
     text-decoration: none;
    font-size: 20px;
    color:#474747;
}

.nav-ul-a:hover{
    border-bottom: 3px solid indigo;
}


/* nav section ended */

/* banner section start  */

.banner-gretting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-naming-heading{
    font-size: 85px;
    font-weight: bold;
    color: black;
}

.banner-p-style{
    font-size: 18px;
    color:#474747;
}

/* banner section ended */





