/* font css */



.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font css ended */

/* global css start */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}

body{
    font-family:"Open Sans", sans-serif;
    line-height:1.6;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}
/* global css end */
.container{
width:100%;
max-width:100%;
margin:auto;
padding:2rem 1rem 1rem 6rem;

}
.header{
width:100%;
background: linear-gradient(90deg, #ffffff 0%, #eef2ff 40%, #c7d2fe 100%);
padding:2rem 3rem;
border-radius:10px;
}
.header-name-section{
    font-size: 3rem;
    font-weight: bolder;
}

    nav{
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
gap:2rem;
}

.common-ul{
display:flex;
gap:3rem;
align-items:center;
list-style:none;
flex-wrap:wrap;
}





.common-btn{
    font-weight: bold;
    background-color: indigo;
   padding: 1em 2rem;
    border-radius: 6px;
    font-size: 2rem;
    text-decoration: none;
    color:white;
    list-style: none;
    border:none;
    cursor: pointer;
   
}
.contact-btn {
    background-color: white;
    color: indigo;
    border-color: indigo;
    font-weight: bold;
    padding: 1em 3rem;
    border-radius: 6px;
    font-size: 2rem;
    text-decoration: none;
    cursor:pointer;
}
.contact-btn:hover{
    background-color: indigo;
    color:white;
}
.common-btn:hover{
    background-color: rgb(131, 22, 209);
}

.nav-ul-a {
    border-bottom:none;
     text-decoration: none;
    font-size: 2rem;
    color:#474747;
}

.nav-ul-a:hover{
    border-bottom: 3px solid indigo;
}


/* nav section ended */

/* banner section start  */
.banner{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:center;
gap:4rem;
margin-top:5%;
}


.banner-image-div{
flex:1 1 350px;
}

.banner-image{
    width: 100%;
    border-radius: 20px;
}

.banner-content{
flex:1 1 500px;
display:flex;
flex-direction:column;
gap:3rem;
}


.banner-gretting{
    font-size: 3rem;
    font-weight: 600;
    color: #474747;
    margin:0px;
}
.banner-naming-heading{
font-size:clamp(3rem,5vw,5rem);
}

.banner-p-style{
font-size:clamp(1.6rem,2vw,2rem);
line-height:1.7;
}
.banner-btn-group{
display:flex;
gap:2rem;
flex-wrap:wrap;
}
.zindex{
    color:skyblue;
    font-weight: bold;

}
.F{
  font-size: 3rem;
  color:skyblue
}
.banner-image{
width:100%;
border-radius:20px;
object-fit:cover;
}

.common-btn:active{
transform:scale(0.97);
}

.contact-btn:active{
transform:scale(0.97);
}

/* banner section ended */





