/* font css */



.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font css ended */

.header{
background: linear-gradient(90deg, #ffffff 0%, #eef2ff 40%, #c7d2fe 100%);
padding: 20px 40px 20px 10%;
}
.header-name-section{
    font-size: 45px;
    font-weight: bolder;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-ul ul {
    display: flex;
    gap :55px;
    align-items: center;
}
.nav-ul ul li{
    list-style: none;
}


.nav-btn , .nav-btn a{
    font-weight: bold;
    background-color: indigo;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
}

.nav-ul-a {
    border-bottom:none;
     text-decoration: none;
    font-size: 20px;
    color:#474747;
}

.nav-ul-a:hover{
    border-bottom: 3px solid indigo;
}





